<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @project.created_at.strftime("%A,%B,%d")%></p>
		<h1><%= @project.title %></h1>
		<hr>
	</header>
	<div class="content">
	 <%= markdown @project.description %>
	 <div class="button_wrapper">
	     <a href="<%= @project.link %>" class="project_button" target="_blank">visit <%= @project.title%></a>
	  </div>
	</div>
	<br>
	<br>
	<% if user_signed_in? %>
		<div class="admin_links">
			<%= link_to "Edit", edit_project_path(@project) %>  
				<%= link_to "Delete",project_path(@project), method: :delete, date: {confirm: "Are you sure"}  %> 
		</div>
	<% end %>
	<hr>
</div>			