<!DOCTYPE html>
<html>
  <head>
    <title>Maninking developer blog</title>

	   <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags%>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Mani develop", root_path, class:"name"%>
			<nav>
      <%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<a href="">contacts</a>
			</nav>
		</header>
    <%= yield %>

    <footer id="main_footer">
			<p class="copywright">&copy; 2017 Manikandan</p>
			<nav>
				<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
			</nav>
		</footer>
  </body>
</html>
