<!DOCTYPE html>
<html>
  <head>
    <title>Maninking developer blog</title>
	   <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags%>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
			<a href="#" class="name">Mani develop</a>
			<nav>
      <%= link_to "Articles", posts_path %>
			<a href="">projects</a>
			<a href="">contacts</a>
			</nav>
		</header>
    <%= yield %>
  </body>
</html>
